.multipleSelectDiv .svg {
    height: 90px;
    width: 90px;
    padding: 20px;
}

.rectClicked {
    fill: rgb(160, 4, 87);
}

.multipleSelectDiv {
    transition: all 0.5s;
    width: 400px;
    height: 400px;
    position: relative;
    padding-top: 120px;
    left: 50%;
    transform: translateX(-50%);
}

.multiSelectText {
    position: relative;
    text-align: center;
    display: block;
}

.selectDiv .svg {
    height: 120px;
    width: 120px;
    padding: 20px;
}

.selectIcon {
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-bottom: 6%;
    text-align: left;
    font-family: arial;
    display: inline-block;
}

.selectText {
    position: relative;
}

.svgIcon {
    transition: all 0.5s;
}
.selectButton{
        /* display:inline-block; */
        padding:0.5em 3em;
        font-size: large;
        border:0.16em solid #bbc788;
        margin: 2%;
        box-sizing: border-box;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Roboto',sans-serif;
        font-weight:400;
        color:#b1af47;
        border-radius: 12px;
        text-align:center;
        background-color:rgba(104, 101, 101, 0.9);
        width: 280px;
      }
