html,body,#root,.App{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  background-color: #76a5af;
}
h1{
  margin:0
}
.questionTitle{
  padding-top: 20px;
  margin:0;
  font-size:3rem
}

.rangeSlider{
  width: 300px;
  position: relative;
  left: 40%;
padding-top: 60px;}

#range-slider{
  font-size: 3rem;
}